
a {
  color: #ff4081; //pinkA200
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
}

/* Used in our inline-styles.jsx as an example */
#content h1 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

.note-purple{
  background-color: #E1BEE7;
}
.note-indigo{
  background-color: #C5CAE9;
}
.note-teal{
  background-color: #B2DFDB;
}
.note-orange{
  background-color: #FFE0B2;
}

/*for youtube video responsive size*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
