.text-field{
  padding: 0px 5px 15px 5px;
}

.pack-content {
  min-height: 200px;
  margin: 16px 0;
}


.pack-content p{
  font-size: 1.5em !important;
}

#cover-img{
  max-width: 500px;
  margin: 16px 0px;
}

#file{
  display: none;
}
