.text-field {
  width: 100%;
}

.pack-content {
  min-height: 200px;
  margin: 16px 0;
}

.pack-content p {
  font-size: 1.5em !important;
}

#cover-img {
  width: 100%;
  max-width: 500px;
  margin: 16px 0px;
}

#file {
  display: none;
}
