.demo-content {
    padding: 40px 28px;
    padding-top: 40px;
    padding-right: 28px;
    padding-bottom: 40px;
    padding-left: 28px;
}

.pack-content p{
  font-size: 1.3em !important;
}

.floatbtn{
  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}
